/__pycache__
/__*
test.py
google_result.html
/build
/dist
1_Ana_Sayfa.spec
.DS_Store
fuar.db
fuar_data.db
fuar_data.sql
ollama_parser.cpython-313.pyc
scrape.cpython-313.pyc
table_to_sql.cpython-313.pyc
.env
venv
*.pyc