selenium
pandas
streamlit
plotly
platformdirs
beautifulsoup4
langchain
langchain_ollama
python-Levenshtein
scikit-learn
requests
webdriver-manager
streamlit-authenticator==0.2.3
passlib
mcp
asyncio
ollama
lxml
regex